body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}
.p0{
	padding: 0;
}
/*  HEADER  */
header{
	background: url('../img/banner.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 60px;
}

nav{
	height: 94px;
	line-height: 94px;
	width: 100%;
	z-index: 999;
}

.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li{
	display: inline-block;
	padding: 0 30px;
}

.menu li a{
	color: #fff;
	text-transform: uppercase;
}

.menu li a:hover, .menu li a:focus{
	text-decoration: none;
	color: #e1e1e1;
}

.topLine{
	height: 1px;
	background-color: #e1e1e1;
}

.logo{
	padding-top: 35px;
}

.titleBlock{
	color: #fff;
	text-align: center;
	margin-top: 80px;
}
.titleBlock h1{
	font-size: 50px;
	font-family: "RalewayBold", sans-serif;
	margin-bottom: 30px;
}

.titleBlock p{
	font-size: 18px;
	margin-bottom: 30px;
}
/*  /HEADER  */

/*PARAM SECTION*/
.paramSection{
	padding: 75px 0;
}
.paramBlock{
	text-align: center;
	margin-bottom: 50px;
}
.paramBlock i{
	font-size: 70px;
	color: #e84545;
}
.paramBlock h3{
	text-transform: uppercase;
	font-size: 18px;
	font-family: "RalewayBold", sans-serif;
}
.paramBlock p{
	font-size: 14px;
}
/*PARAM SECTION*/

/*WORK SECTION*/
.workBlock{
	position: relative;
}
.imageWrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232, 69, 69, .7);
	opacity: 0;
	display: flex;
	transition: 800ms;
}
.imageWrapper:hover{
	opacity: 1;
}
.workDescr{
	margin: auto;
	color: #fff;
	text-align: center;
}

/*WORK SECTION*/

/*TEAM SECTION*/
.teamSection{
	padding: 75px 0;
	color: #6c7279;
}
.teamBlock{
	margin-bottom: 20px;
}
.teamBlock h4{
	font-family: "RalewayBold", sans-serif;
	color: #000;
}
.teamBlock > span{
	color: #e84545;
	text-transform: uppercase;
}

/*TEAM SECTION*/

/*DOWNLOAD SECTION*/

.my_btn{
	background-color: #e84545;
	border: none;
	text-transform: uppercase;
	border-radius: 2px;
	color: #fff;
}
.btn_md{
	padding: 10px 30px;
}

.btn_lg{
	padding: 15px 40px;
}

.download-s{
	padding: 0 0 40px 0;
}
.download_block{
	text-align: center;
}
.download_block h3{
	font-size: 28px;
}
.download_block p{
	font-family: "RalewayBold", sans-serif;
	text-transform: uppercase;
	padding-bottom: 40px;
	font-size: 12px;
}



/*DOWNLOAD SECTION*/


/*FOOTER SECTION*/

.footerSection{
	background-color: #3a3e64;
	padding: 50px 0 0 0;
}
.footerBlock{
	text-align: center;
}
.footerBlock h3{
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

.footerBlock p{
	font-size: 10px;
	color: #9092a7;
}
.footerBtn{
	background-color: #3a3e64;
	border: 1px solid #fff;
	color: #fff;
}
.footerBlock2{
	text-align: center;
	padding: 20px 0 20px;
    background-color: #313454;
    margin-top: 25px;
}

.footerBlock2 p, .footerBlock2 span{
	color: #808080;
	font-size: 12px;
}
.footerBlock2 span{
	color: #fff;
}
.footerBlock2 i{
	color: #e84545;
	font-size: 12px;
}
/*FOOTER SECTION*/

















